h4, h3, p, li {
    font-family: "Noto Sans JP";
    font-weight: bold;
    color:#000000;
    letter-spacing:1px;
}

/* Header */

.header {
    height:80px;
    background-color: #D6CEB7;
    display:flex;
}

.logo{
    float:left;
    margin-left: 100px;
}

.header img{
    display: block;
    margin:0 auto;
}

.search-title {
    margin-top:50px;
    margin-bottom:50px;
    letter-spacing:1px;
}

.search-title h3 {
    text-align: center;
    font-size: 25px;
    margin-top:100px;
    letter-spacing:1px;
}

.search-title p{
    text-align: center;
    letter-spacing:1px;
}

.header-menu{
    margin-left:auto;
    display:block;
}

.menu  ul{
    justify-content: flex-end;
    margin-top: 25px;
    margin-right: 100px;
}

.menu li{
    margin-top: 15px;
    display: inline-block;
    list-style: none;
    margin-right: 40px;
    padding: 10px;
}

button {
    border:none;
    border-radius: 100vh;
    color:#000000;
    width:125px;
    height:50px;
    font-weight: bold;
    margin-top:-15px;
    transition: .3s;
    letter-spacing:1px;    
}

button:hover {
    background-color: black;
    color:#D6CEB7;
}

/* Form */
#filters {
    margin-top:50px;
    margin-bottom:50px;
}

#filter {
    text-align: center;
}

.form-control {
    text-align: center;
}

.requiredField {
    display: none;
}

#button{
    margin-top:30px;
    margin-bottom:30px;
}

#button button {
    border-radius: 100vh;
    background-color: #D6CEB7;
    color:#000000;
    width:150px;
    height:50px;
    border:none;
    font-weight: bold;
    transition: .3s;
    letter-spacing:1px;
}

#button button:hover {
    background-color: black;
    color:#D6CEB7;
    -webkit-transform: scale(1.1,1.1);
	-moz-transform: scale(1.15,1.15);
	-o-transform: scale(1.15,1.15);
	-ms-transform: scale(1.15,1.15);
    transform: scale(1.15,1.15);
    }
    

#weather{
    margin-bottom:50px;
    width: 60%;
}


#weather span{
    font-size: 13px;
    text-align:center;
    font-weight: bold;
    letter-spacing:1px;
}


#weather-title{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:5px;
    padding-right:5px;
    margin-left:30px;
    margin-right:30px;
    background-color: #D6CEB7;
    letter-spacing:1px;
}



.weather-container{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    border-radius:1vh;
    box-shadow: 0 10px 25px 0 rgba(219, 219, 219, 0.5);
}


/* 検索結果画面 */
.results-title {
    letter-spacing:1px;
    margin-top:50px;
    margin-left: 100px;
}

#description {
    margin:50px;
    border-radius: 1vh;
    padding:30px;
    box-shadow: 0 10px 25px 0 rgba(185, 185, 185, 0.5);

}

#description img {
    width:60%;
    margin-left:30px;
    
}

#description p {
    margin-top:20px;
    line-height: 1.8em;
    letter-spacing:1px;
}

.posts-title {
    letter-spacing:1px;
    margin-top:80px;
    margin-bottom:50px;
    text-align:center;
}

.col-5 {
    display: flex;
}

.results {
    margin-bottom:100px;
}

.col-md-4 {
    padding-left:40px;
    padding-right:40px;
}

/* 投稿詳細画面 */
#post-detail {
    margin-top:60px;
    margin-left: 100px;
    margin-right: 100px;
    padding:80px 100px;
    border-radius: 1vh;
    box-shadow: 0 10px 25px 0 rgba(185, 185, 185, 0.5);
}

.title{
    padding-bottom:40px;
}

.title h4 {
    letter-spacing:1px;
}

.title span{
    padding-right:10px;
    letter-spacing:1px;
}

.comment text {
    line-height: 1.8em;
    letter-spacing:1px;
}


/* 投稿画面 */

.newpost-title {
    margin-top:100px;
    margin-bottom:50px;
}

.newpost-title h3 {
    text-align: center;
    font-size: 25px;
    letter-spacing:1px;
}

.newpost-title p {
    text-align: center;
    letter-spacing:1px;
}

#form2 {
    margin-bottom:50px;
}

.new-post-form {
    margin-bottom: 100px;
}

#filters2 {
    padding-left:300px;
    padding-right:300px;
    padding-bottom:50px;
    padding-top:30px;
    border-radius: 1vh;
    box-shadow: 0 10px 25px 0 rgba(185, 185, 185, 0.5);
    
}

#filter2 {
    margin-top:30px;
    margin-bottom:30px;
}

#filter2 p{
    text-align: center;
    letter-spacing:1px;
}

#div_id_text label {
    display:none;
}

/* ログイン・会員登録 */
.sign-in-title{
    margin-top:100px;
}

.sign-in-title button{
    margin-top:30px;
}

.sign-in-title small{
    display: none;
}

.sign-in-title h3{
    margin-top:50px;
    text-align: center;
    font-size: 25px;
    letter-spacing:1px;
}

.sign-in-title p {
    text-align: center;
    letter-spacing:1px;
}

.sign-up-title h3 {
    margin-top:50px;
    text-align: center;
    font-size: 25px;
    letter-spacing:1px;
}

.sign-up-title p {
    text-align: center;
    letter-spacing:1px;
}

#filters3 {
    padding-left:300px;
    padding-right:300px;
    padding-bottom:5px;
}

/* 天気の位置情報変更 */
#change_location p {
    padding-bottom:10px;
    letter-spacing:1px;
}

#pref {
    display:none;
    /* width:300px;
    position: relative;
    margin: auto;
    text-align: center;
    margin-bottom:10px;  */
}

#id_pref {
    width:300px;
    position: relative;
    margin: auto;
    text-align: center;
    margin-bottom:10px; 
}

#change_location_container {
    padding-top:80px;
}

#change_location {
    padding-top:10px;
    border-radius: 1vh;
    box-shadow: 0 10px 25px 0 rgba(185, 185, 185, 0.5);
}