{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="sign-in-title">
    <h3>ログイン</h3>
    <p>会員登録がまだの方は<a href='/signup'>こちら</a>から登録頂けます。</p>
        {% if form.errors  %}
            <p>ユーザーID, パスワードが一致しません。</p>
        {% endif %}
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="container" id="form2">
            <div id="filters3">
                <div class="col" id="filter2">
                    <span>{{ form.username.label_tag }}</span>
                    {{ form.username |as_crispy_field }}
                    {{ form.username.errors }}
                </div>
                <div class="col" id="filter2">
                    <span>{{ form.password.label_tag }}</span>
                    {{ form.password |as_crispy_field }}
                    {{ form.password.errors }}
                </div>
                <div class="text-center" id="button">
                    <button type="submit">ログイン</button>
                </div> 
            </div>
        </div>
    </form>
</div>

{% endblock %}